#-  Node Package Manager configuration file

#-  .npmrc ~~
#
#   These settings are GREAT for offline development, holy cow!
#
#                                                       ~~ (c) SRW, 12 Jan 2015
#                                                   ~~ last updated 12 Jan 2015

fetch-retries = 0
fetch-retry-maxtimeout = 0
fetch-retry-mintimeout = 0

#-  vim:set syntax=cfg:
