/*- CSS style sheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 29 Oct 2012
 *                                                  ~~ last updated 10 Jan 2013
 */

@media all {
    html {
     /* This snippet makes text look nicer (source: http://goo.gl/fr85e). */
        -webkit-font-smoothing: antialiased;
    }
    input:required:invalid {
        background-color: #FFEBEB;
        border-color: red;
    }
    noscript {
        color: red;
        font-size: 200%;
        text-align: center;
    }
    .centered {
        text-align: center;
    }
}

@media print {
    a:after {
        content: ")[" attr(href) "]";
    }
    a:before {
        content: "(";
    }
    body {
        background-color: white;
    }
}

/*- vim:set syntax=css: */
