/*  CSS style sheet  */

/*  print.css ~~
 *                                                      ~~ (c) SRW, 06 Feb 2012
 */

body {

    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

/*  vim:set syntax=css:  */
