/*  CSS style sheet  */

/*  screen.css ~~
 *
 *  NOTE: I need to figure out some fallbacks for IE ...
 *
 *                                                      ~~ (c) SRW, 07 Feb 2012
 */

body {

    background-color: #CCCCCC;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

a {

    border-bottom: 1px dotted;
    color: black;
    text-decoration: none;

}

a:hover {

    color: blue;

}

canvas {

    border: 1px solid black;

}

div {

    margin-bottom: 1em;
    margin-top: 1em;
    text-align: justify;

}

figcaption {

    font-weight: bold;

}

figure {

    text-align: center;

}

figure img[src$=".png"] {

    background-color: white;

}

figure img[src$=".svg"] {

    background-color: white;

}

footer {}

header {}

iframe {

    height: 75%;
    width: 100%;

}

noscript {

    color: red;
    font-size: 200%;
    text-align: center;

}

pre {

    text-align: left;

}

textarea {

    font-family: Courier, monospace;
    font-size: 12pt;
    text-align: left;

}

#github_ribbon {

 /* There is a much fancier version available at http://goo.gl/CSWv3. */

    border-bottom: none;
    left: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;

    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

#github_ribbon :hover {

    background: blue;

}

#github_ribbon span {

    background: black;
    color: white;
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 250px;

    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;

}

.mono {

    font-family: Courier, monospace;

}

/*  vim:set syntax=css:  */
