/*  CSS style sheet  */

/*  print.css ~~
 *                                                      ~~ (c) SRW, 23 May 2012
 */

a {

    border-bottom: 1px dotted;
    color: inherit;
    text-decoration: none;

}

a:after {

    content: "[" attr(href) "]";

}

body {

    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

#tape {

    border: 1px black solid;
    font-family: Courier, monospace;
    margin: auto;
    padding: 1em;
    padding-top: 0em;
    overflow: auto;
    text-align: left;

}

.do_not_print {

    visibility: hidden;

}

/*  vim:set syntax=css:  */
