/*- CSS style sheet */

/*- print.css ~~
 *                                                      ~~ (c) SRW, 30 Jun 2012
 */

a {

    border-bottom: 1px dotted;
    color: inherit;
    text-decoration: none;

}

a:after {

    content: "[" attr(href) "]";

}

body {

    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

.do_not_print {

    visibility: hidden;

}

/*- vim:set syntax=css: */
